{% extends "shared/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="jumbotron jumbotron-fluid">
        <h2> Register new account</h2>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy}}
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Sign Up</button>
            </div>
        </form>
    </div>
    <div class="border-top pt-3">
        <small class="text-muted">
            Already Have An Account? <a class="ml-2" href="{% url 'login' %}">Sign In</a>
        </small>
    </div>
{% endblock %}